body{
    font-family: 'Note Sans','Roboto';
    background-color: #fff8e1;
    padding: 20px;
    color: #333;
}

h1{
    color: darkkhaki;
    font-size: 250%;
    text-align: center;
}

table{
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin:0 auto;
}

th,td{
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color:azure;
}

.image-container,.map-container,footer{
    text-align: center;
}

.image-container img{
    width: 300px;
}
